*.mod
*.o

*_gen.f90
*.exe
*.xml
*.a
*.gcda
*.gcno

ROOT_ANCHOR
sample/test/calculator_fruit_driver
sample_mpi/mpi_machine_file
sample_selective/dummy_main
sample_selective/fruit_driver_selective
self_test/fruit_self_test_driver
self_test/override_stdout.txt
self_test_mpi/mpi_machine_file
self_test_mpi/stdout
